{
  "name": "mypackage",
  "version": "0.0.1",
  "eslintConfig": {
      "env": {
          "browser": true,
          "node": true
      }
  },
  "eslintIgnore": ["App.test.js", "setupTests.js","reportWebVitals.js","index.js"]
}