body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /*background-image: url(https://images2.alphacoders.com/104/1041188.jpg);*/
  background-color: #cadefc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title{
  display: inline-block;
  background-color: #393e46;
  padding: 2rem;
  border-radius: 1.25rem;
  color:#EEEEEE;
  
}

.title-div{
  display:flex;
  justify-content:center;
 
}

.login-box{
  /*text-align:center;*/
  display:flex;
  justify-content:center;
  
}

.inner{
  display: inline-block;
  text-align:center;
  background-color:#00adb5;
  padding: 4rem;
  border-radius: 1.2rem;
  
}

.user-name{
  /*text-align:center;*/
}
.enter-name{
 color:#222831;
}

.input{
    padding: 0.2rem;
    border-radius: 0.3rem;
}

.submit{
  /*text-align: center;*/
  padding-top: 2rem;

}

.submit-bttn{
  padding: 0.4rem 1.5rem;
  background-color:#f9ed69;
  text-decoration:none;
  border:0;
  border-radius:0.2rem;
}



.submit-bttn span{
  font-size: 1.2rem;
  color: #40514e;
}

.again{
  padding: 0.4rem 1.5rem;
  background-color:#f9ed69;
  text-decoration:none;
  border:0;
  border-radius:0.2rem;
  
}
.again span{
  font-size: 1.2rem;
  color: #40514e;
}

.center-board{
    display: flex;
    justify-content: space-around;
    margin-bottom:2rem;
}

.players{
  /*text-align:center;*/
  display: flex;
  justify-content: space-evenly;
  

}

.users{
  display: inline-block;
  background-color: #aa96da;
  padding:1rem;
  border-radius:0.5rem;
  color:white;
  
}
.users1{
  display: inline-block;
  background-color: #aa96da;
  padding:1rem;
  border-radius:0.5rem;
  color:white;
  position: relative;
  right: 2.75rem;
  
}

.results{
  background-color: #00fff0;
  padding:1rem;
  border-radius:0.4rem;
  width: 14rem;
  height: 20.25rem;
  text-align:center;
}

.spectators{
  background-color: #048998;
  border-radius:0.4rem;
  width: 16rem;
  height: 22.25rem;
}

.spectators h2,h3{
  text-align:center;
}
.spectators h2{
  color:#ffde7d;
  margin-bottom:0;
}

.spectators h3{
  color:white;
}
.viewers{
  display:flex;
  justify-content:center;
  position:relative;
  right:1.25rem;
}

.viewers ul{
  margin-top:0;
  color:#2EB67D;
}

.show{
    background-color: #f9ed69;
    color:black;
    border-radius: 0.4rem;
    padding: 0.2rem;
    
}

.no-show{
  
}

.leader-board{
    color: white;
    background-color: #34495e;
    border-radius: 0.3rem;
    margin-bottom: 1rem;
    padding: 2rem;
    position:relative;
    left:10rem;
}
.no-leader-board{
    color: white;
    background-color: #34495e;
    border-radius: 0.3rem;
    padding: 1rem;
    position:relative;
    left:7rem;
    top:1rem;
}

.leader-board td{
  padding: 0.5rem 2rem;
  text-align:center;
  font-size:1rem;
}


.show-leader{
  padding: 0.4rem 1.5rem;
  background-color:#f9ed69;
  text-decoration:none;
  border:0;
  border-radius:0.2rem;
  font-size:1.25rem;
  position: relative;
  left: 3.75rem;
  bottom: 1rem;
}
.no-leader{
  padding: 0.4rem 1.5rem;
  background-color:#f9ed69;
  text-decoration:none;
  border:0;
  border-radius:0.2rem;
  font-size:1.25rem;
}

.select-user{
    color: black;
    background-color: lightgray;
}




