body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title{
  display: inline-block;
  background-color:Blue;
  padding: 2rem;
  border-radius: 1.25rem;
  
}

.title-div{
  display:flex;
  justify-content:center;
 
}

.login-box{
  /*text-align:center;*/
  display:flex;
  justify-content:center;
  
}

.inner{
  display: inline-block;
  text-align:center;
  background-color:yellow;
  padding: 4rem;
  border-radius: 1.2rem;
  
}

.user-name{
  /*text-align:center;*/
}

.submit{
  /*text-align: center;*/
  padding-top: 2rem;

}

.submit-bttn{
  padding: 0.4rem 1.5rem;
}

.center-board{
    display: flex;
    justify-content: space-around;
}

.players{
  text-align:center;

}

.users{
  display: inline-block;
}